{% extends "header.html" %}
{% block content %}

<style>

/* Keeps the card creation screen in the center */
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 30px;
}

/* Puts the contents of the card creation screen in a box */
.card-box {
    background: white;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

/* Centers the titles and adds spacing between it and the other elements */
h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

/* Styling for the input fields */
input {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 50%;
}

/* Changes outline color when clicking the input */
 form input:focus {
        outline: none;
        border-color: #333;
}

/* Styling for the "save" button */
button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #2b4db4b9;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

/* Additional styling for the buttons */
form {
    display: flex;
    flex-direction: column;
}

/* Makes the styling constant for the "save" and "delete" buttons */
.word-table { 
    width: 100%; 
    border-collapse: collapse; 
}

/* How high the buttons float on hover */
button:hover {
    transform: translateY(-2px);
}

/* Centers the text of "your words" box, also if the written flashcard is too long ensures that the box won't become scrollable and that the buttons won't stretch due to the text length */
.word-table td:not(:has(button)) {
    padding: 10px;
    text-align: center;
    word-break: break-word; 
    white-space: normal;
}

/* Changes the color of the "delete" button */
.delete-btn {
    background-color: #ff15009f;
}

/* Removes the line under "Home/Cards/Profile" text */
a {
    text-decoration: none;
 }

/* Adds the line under "Home/Cards/Profile" text when hovered over (with a mouse, or briefly when pressing the text using mobile devices)  */
 a:hover {
        text-decoration: underline;
}

</style>

<div class="page-container">

{% if user.is_authenticated %}

    <div class="card-box">
        <h2>Hello, {{ user.username }}!</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    </div>

    <div class="card-box">
        {% if words %}
            <h3>Your Words</h3>

            <table class="word-table">
                {% for word in words %}
                <tr class="word-row">
                    <td>{{ word.eng }}</td>
                    <td>-</td>
                    <td>{{ word.fin }}</td>
                    <td>
                        <form method="POST" action="{% url 'delete_word' word.id %}">
                            {% csrf_token %}
                            <button type="submit" class="delete-btn">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>

        {% else %}
            <p class="center-text">You have no words</p>
        {% endif %}
    </div>

{% else %}
    <div class="card-box center-text">
        <p>Log in to view your words</p>
        <a href="/user/login">
            <button>Continue</button>
        </a>
    </div>
{% endif %}

</div>

{% endblock %}
